.employees-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  font-size: 0.9rem;
  color: #313131;
  margin-block: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.employees-stats:hover {
  background-color: #FFD85F;
}
.alert span{
  padding: 5px 20px;
  border-radius: 50px;
  width: calc();
}

.goodAlert {
  background-color: #ffbf5f9d;
}

.badAlert {
  background-color: rgba(255, 49, 49, 0.836);
  color: white;
}