
.main-container {
  width: 100vw;
  height: 100%;
  background-color: #E3E4E7;
  position: relative;
  z-index: 99;
}

.circle {
  position: absolute;
  width: 750px;
  height: 700px;
  border-radius: 50%;
  background-color: #FFF6B5;
  right: -100px;
  top: -50px;
  filter: blur(200px);
  z-index: -9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFF6B5;
  border-radius: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  height: 100%;
}